.logo {
  height: 50px;
  width: auto;
}

.navbar-nav .nav-item {
  margin-right: 200px;
  font-weight: 500;
  font-size: large;
}

@media (max-width: 767px) {
  .logo {
    height: 40px;
    margin-right: 10px;
  }
  .navbar-nav .nav-item {
    margin-right: 10px;
  }
}
